# Stocks reader

In [2]:
import pandas as pd
import pandas_datareader.data as web

GLE = web.get_quote_yahoo('GLE.PA')
print(GLE)

           PE change_pct    last  short_ratio    time
GLE.PA  7.509    -1.533%  35.015          0.0  5:38pm

## Fetch whole datasets for further use

In [53]:
def update_stocks():
    start = datetime.datetime(2000, 1, 1)
    end = datetime.datetime(2016, 10, 30)

    GLE = web.DataReader('GLE.PA', 'yahoo', start, end)
    GLE.to_pickle('GLE.pdata')
    GLE = web.DataReader('RNO.PA', 'yahoo', start, end)
    GLE.to_pickle('RNO.pdata')
    GLE = web.DataReader('UG.PA', 'yahoo', start, end)
    GLE.to_pickle('UG.pdata')
    GLE = web.DataReader('ALEZV.PA', 'yahoo', start, end)
    GLE.to_pickle('ALEZV.pdata')
    GLE = web.DataReader('ALEHT.PA', 'yahoo', start, end)
    GLE.to_pickle('ALEHT.pdata')
    GLE = web.DataReader('ONXEO.PA', 'yahoo', start, end)
    GLE.to_pickle('ONXEO.pdata')
    print('Done')





update_stocks()

Done

## Load and display data

In [3]:
RNO = pd.read_pickle('RNO.pdata')
UG = pd.read_pickle('UG.pdata')
GLE = pd.read_pickle('GLE.pdata')
ALEZV = pd.read_pickle('ALEZV.pdata')
ALEHT = pd.read_pickle('ALEHT.pdata')
ONXEO = pd.read_pickle('ONXEO.pdata')

print(RNO.loc['2016-10-28'])
print(UG.loc['2016-10-28'])
print(GLE.loc['2016-10-28'])
print(ALEZV.loc['2016-10-28'])
print(ALEHT.loc['2016-10-28'])
print(ONXEO.loc['2016-10-28'])

UG.tail(10)

Open             78.75
High             79.79
Low              78.02
Close            79.40
Volume       863600.00
Adj Close        79.40
Name: 2016-10-28 00:00:00, dtype: float64
Open              13.610
High              13.855
Low               13.480
Close             13.785
Volume       3343600.000
Adj Close         13.785
Name: 2016-10-28 00:00:00, dtype: float64
Open              36.140
High              36.315
Low               35.605
Close             36.105
Volume       3619300.000
Adj Close         36.105
Name: 2016-10-28 00:00:00, dtype: float64
Open         25.5
High         25.5
Low          25.5
Close        25.5
Volume        0.0
Adj Close    25.5
Name: 2016-10-28 00:00:00, dtype: float64
Open              0.31
High              0.32
Low               0.30
Close             0.30
Volume       122000.00
Adj Close         0.30
Name: 2016-10-28 00:00:00, dtype: float64
Open              2.42
High              2.50
Low               2.37
Close             2.41
Volume       303200.00
Adj Close         2.41
Name: 2016-10-28 00:00:00, dtype: float64

              Open    High     Low   Close   Volume  Adj Close
Date
2016-10-17  12.800  13.250  12.730  13.135  4792800     13.135
2016-10-18  13.220  13.310  13.085  13.185  4042300     13.185
2016-10-19  13.190  13.285  13.110  13.145  3352100     13.145
2016-10-20  13.175  13.365  13.165  13.325  3417300     13.325
2016-10-21  13.335  13.435  13.115  13.270  3190500     13.270
2016-10-24  13.330  13.590  13.330  13.460  3202500     13.460
2016-10-25  13.500  13.595  13.200  13.290  4141200     13.290
2016-10-26  12.700  13.685  12.600  13.660  7934500     13.660
2016-10-27  13.615  13.750  13.375  13.735  3815500     13.735
2016-10-28  13.610  13.855  13.480  13.785  3343600     13.785

In [9]:
#Standard variation between high and close
#print(UG.columns)
#UG.index
UG.describe()

,Open,High,Low,Close,Volume,Adj Close
count,4369.000000,4369.000000,4369.000000,4369.000000,4.369000e+03,4369.000000
mean,36.147731,36.675114,35.611909,36.142732,3.029052e+06,26.557742
std,45.736069,46.457660,45.120598,45.824327,2.673867e+06,28.209790
min,3.672440,3.700560,3.573190,3.636050,0.000000e+00,3.636050
25%,13.169700,13.385000,12.935100,13.137200,1.363400e+06,12.826130
50%,25.740300,26.296100,25.271100,25.870300,2.408600e+06,19.702370
75%,35.441700,35.802600,35.080800,35.448900,3.944200e+06,26.430480
max,249.174000,252.351000,247.659000,249.463000,3.692670e+07,158.919590

In [16]:
UG.High.tail(5)
UG.loc[:,['High', 'Close']].tail(10)

              High   Close
Date
2016-10-17  13.250  13.135
2016-10-18  13.310  13.185
2016-10-19  13.285  13.145
2016-10-20  13.365  13.325
2016-10-21  13.435  13.270
2016-10-24  13.590  13.460
2016-10-25  13.595  13.290
2016-10-26  13.685  13.660
2016-10-27  13.750  13.735
2016-10-28  13.855  13.785

In [17]:
UG.loc['2016-10-01':'2016-10-28', ['High', 'Close']]

              High   Close
Date
2016-10-03  13.570  13.420
2016-10-04  13.920  13.840
2016-10-05  14.240  14.150
2016-10-06  14.395  14.200
2016-10-07  14.170  13.665
2016-10-10  13.780  13.615
2016-10-11  13.620  13.100
2016-10-12  13.395  13.195
2016-10-13  13.080  12.895
2016-10-14  13.090  12.880
2016-10-17  13.250  13.135
2016-10-18  13.310  13.185
2016-10-19  13.285  13.145
2016-10-20  13.365  13.325
2016-10-21  13.435  13.270
2016-10-24  13.590  13.460
2016-10-25  13.595  13.290
2016-10-26  13.685  13.660
2016-10-27  13.750  13.735
2016-10-28  13.855  13.785

In [20]:
UG.loc['2016-10-17', 'High']

13.25

In [45]:
UG.iloc[-5:,:]

              Open    High     Low   Close   Volume  Adj Close
Date
2016-10-24  13.330  13.590  13.330  13.460  3202500     13.460
2016-10-25  13.500  13.595  13.200  13.290  4141200     13.290
2016-10-26  12.700  13.685  12.600  13.660  7934500     13.660
2016-10-27  13.615  13.750  13.375  13.735  3815500     13.735
2016-10-28  13.610  13.855  13.480  13.785  3343600     13.785

In [46]:
UG.iloc[-7:,:].count()

Open         7
High         7
Low          7
Close        7
Volume       7
Adj Close    7
dtype: int64

In [100]:
threshold = 0.03
UG_2016 = UG.loc['2016-01-01':, ['Open', 'Close', 'Volume']]
df = UG_2016
#print('#days where High > Close:', UG[UG.High>UG.Close].High.count())
#print('#days where Low < Close:', UG[UG.Low==UG.Close].Close.count())
print('#days where Close where % Lower than Open: ', df[df.Close<df.Open*(1-threshold)].Open.count())
print(df[df.Close<df.Open*(1-threshold)])
print('#days where Close where % higher than Open: ', df[df.Close>df.Open*(1+threshold)].Open.count())
print(df[df.Close>df.Open*(1+threshold)])

#days where Close where % Lower than Open:  18
              Open   Close    Volume
Date
2016-01-04  15.950  15.470   4211100
2016-01-06  15.535  14.790   5314800
2016-01-13  15.230  14.750   3599200
2016-01-14  14.525  14.005  12003000
2016-02-02  13.570  13.105   3744500
2016-02-04  13.080  12.675   6871200
2016-02-08  12.835  12.305   4978800
2016-02-24  14.370  13.865  10584900
2016-02-25  14.280  13.475  13581600
2016-03-10  14.720  14.140   6318400
2016-05-03  13.925  13.455   3973500
2016-05-17  13.575  12.990   5927000
2016-06-03  14.400  13.895   3896400
2016-06-27  11.900  10.655  16739100
2016-07-04  11.650  11.230   4098400
2016-07-05  11.115  10.620   6718800
2016-10-07  14.165  13.665   7369000
2016-10-11  13.615  13.100   8297500
#days where Close where % higher than Open:  21
              Open   Close    Volume
Date
2016-01-12  14.310  14.975   5075000
2016-01-21  13.210  13.895   6195900
2016-01-26  13.450  14.160   4176400
2016-02-17  12.830  13.380   4127500
2016-03-01  13.865  14.475   5561700
2016-03-03  14.585  15.030   4807300
2016-03-11  14.480  14.945   6637700
2016-04-19  13.845  14.300   5565900
2016-04-28  13.950  14.490   4482300
2016-05-24  13.000  13.475   3472400
2016-06-17  12.795  13.180   6461400
2016-06-23  13.705  14.310   5063600
2016-06-24  10.350  11.710  22957300
2016-07-01  10.865  11.540   8723300
2016-07-08  10.470  11.020   5777700
2016-07-12  11.260  11.895   8589400
2016-07-27  13.120  13.640  13179200
2016-08-05  12.780  13.215   3497600
2016-09-30  13.195  13.595   3963800
2016-10-05  13.700  14.150   5772100
2016-10-26  12.700  13.660   7934500

## Simple idea: Search pattern

Find all days where var > %3%, then search pattern in [1, 2, 3... 10] previous days.

In [104]:
threshold = 0.03
UG_2015_16 = UG.loc['2010-01-01':, ['Open', 'Close', 'Volume']]
df = UG_2015_16

print('#days where Close where % higher than Open: ', df[df.Close>df.Open*(1+threshold)].Open.count())
print(df[df.Close>=df.Open*(1+threshold)])

threshold = 0.03
RNO_2015_16 = RNO.loc['2010-01-01':, ['Open', 'Close', 'Volume']]
df = RNO_2015_16

print('#days where Close where % higher than Open: ', df[df.Close>df.Open*(1+threshold)].Open.count())
print(df[df.Close>=df.Open*(1+threshold)])

#days where Close where % higher than Open:  163
               Open    Close    Volume
Date
2010-01-04  17.1434  17.7028   2081800
2010-01-06  18.4138  18.9985   6759000
2010-02-01  16.7536  17.3599   3173700
2010-03-04  14.8732  15.3460   5534600
2010-03-25  15.8116  16.4071   4032400
2010-04-20  15.9993  16.5154   5676000
2010-05-27  13.5126  14.2994   4343500
2010-06-10  14.5556  15.1078   2953500
2010-06-14  15.5265  16.0245   4989300
2010-07-07  15.3316  16.0209   3544800
2010-07-13  16.7283  17.5909   4275500
2010-07-22  16.6561  17.3347   3215900
2010-09-01  15.0573  15.5554   2747500
2010-09-09  15.5987  16.3494   4404500
2010-09-24  17.4321  18.1323   2627700
2010-10-14  18.5365  19.3233   6285600
2010-10-15  19.2980  20.1245   9500900
2010-10-21  20.0415  20.7886   4903600
2010-11-09  21.1423  21.8713   3269800
2010-11-18  21.2217  22.1240   3665600
2010-12-01  20.9763  21.6295   2314700
2010-12-02  21.6187  22.3911   2511900
2011-01-04  20.9943  21.6404   1912200
2011-01-11  22.3116  23.2789   3092200
2011-02-10  21.0846  21.8713   4550800
2011-03-24  19.2006  20.0848   2937000
2011-04-26  21.0918  21.9002   3100700
2011-08-05  15.1620  16.1797   8416700
2011-08-12  14.9057  15.4796   4397800
2011-08-22  12.9712  13.4224   3926500
...             ...      ...       ...
2015-06-29  17.7000  18.7000   8385300
2015-07-09  17.3050  17.8550   5846300
2015-08-25  14.7000  15.5050   9502000
2015-09-03  15.2200  15.6900   5345300
2015-09-29  11.9950  12.6450  13538300
2015-10-06  13.5550  14.0200   7314300
2015-10-22  15.3700  15.8450   4860400
2015-11-02  15.7900  16.2850   5000200
2015-11-30  16.4100  16.9100   5306800
2016-01-12  14.3100  14.9750   5075000
2016-01-21  13.2100  13.8950   6195900
2016-01-26  13.4500  14.1600   4176400
2016-02-17  12.8300  13.3800   4127500
2016-03-01  13.8650  14.4750   5561700
2016-03-03  14.5850  15.0300   4807300
2016-03-11  14.4800  14.9450   6637700
2016-04-19  13.8450  14.3000   5565900
2016-04-28  13.9500  14.4900   4482300
2016-05-24  13.0000  13.4750   3472400
2016-06-17  12.7950  13.1800   6461400
2016-06-23  13.7050  14.3100   5063600
2016-06-24  10.3500  11.7100  22957300
2016-07-01  10.8650  11.5400   8723300
2016-07-08  10.4700  11.0200   5777700
2016-07-12  11.2600  11.8950   8589400
2016-07-27  13.1200  13.6400  13179200
2016-08-05  12.7800  13.2150   3497600
2016-09-30  13.1950  13.5950   3963800
2016-10-05  13.7000  14.1500   5772100
2016-10-26  12.7000  13.6600   7934500

[163 rows x 3 columns]
#days where Close where % higher than Open:  113
              Open   Close   Volume
Date
2010-01-04  36.800  38.200  3178800
2010-02-01  34.200  35.315  2203700
2010-03-05  31.895  32.890  3319600
2010-03-25  33.960  35.530  3940400
2010-04-23  35.000  36.715  6494800
2010-05-27  27.900  29.180  4064200
2010-06-10  28.955  30.415  2742500
2010-07-07  30.735  32.145  2154600
2010-07-13  33.670  35.275  2835300
2010-07-22  32.975  34.265  1613400
2010-08-03  34.320  35.670  2910600
2010-09-01  32.370  33.800  2305800
2010-09-09  34.080  35.250  2249800
2010-09-30  36.595  37.745  2350200
2010-10-05  35.480  36.820  1815200
2010-11-09  41.350  43.125  2195900
2010-12-01  40.810  42.450  1570200
2010-12-02  42.340  44.105  1861000
2011-01-11  47.255  49.340  2734700
2011-03-17  36.205  37.570  3272500
2011-03-24  37.175  38.410  3343400
2011-04-20  36.610  37.890  4117500
2011-07-28  36.100  37.415  3316800
2011-08-05  30.105  31.300  3771700
2011-08-24  25.100  25.875  2798600
2011-08-31  26.975  28.340  1932400
2011-09-07  24.750  25.775  4263100
2011-09-14  24.465  25.620  2023400
2011-09-15  25.990  27.750  2261200
2011-09-27  24.995  26.265  1924300
...            ...     ...      ...
2015-02-12  73.000  77.200  3612000
2015-03-11  87.270  90.150  1241900
2015-03-26  80.760  83.850  1495500
2015-03-30  83.520  86.080   787800
2015-04-16  89.350  92.220  1889600
2015-05-19  92.670  96.510  2291500
2015-06-09  89.900  92.660  1623800
2015-08-05  85.800  88.390  1462000
2015-08-25  70.090  73.530  2246100
2015-10-06  66.520  69.480  2758900
2015-10-07  70.100  74.190  3517200
2015-10-22  78.660  81.170  1570600
2015-10-30  83.080  85.730  2589400
2015-11-02  85.230  89.350  1993700
2015-11-26  90.640  93.680  1197700
2016-01-21  74.740  77.770  1578900
2016-01-26  77.430  80.940   935200
2016-02-17  74.380  79.930  1730700
2016-02-26  79.940  82.770  1458800
2016-03-22  85.410  88.070  1131700
2016-04-18  85.100  88.030  1033600
2016-05-24  78.630  81.620   867400
2016-05-26  82.790  85.340  1012900
2016-06-23  78.600  81.600  1122200
2016-06-24  67.480  70.490  4954100
2016-07-01  68.940  71.680  1486600
2016-07-08  65.890  69.570  1150800
2016-07-12  71.900  74.090  1250800
2016-08-05  74.610  77.110   939000
2016-10-26  75.000  79.140  1623000

[113 rows x 3 columns]